.container {
  max-width: 1146px;
  width: 95%;
  margin: 0 auto;
}

h2 {
  color: #5863e3;
  font-family: "Arimo";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 57px;
}
h5 {
  color: #000;
  font-family: "Arimo";
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 371px;
}
.div1 {
  max-width: 756px;
  width: 100%;
  height: 298px;
  margin-right: 20px;
}

textarea {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  padding: 23px 21px;
  outline: none;
}
::placeholder {
  color: #99999a;
  font-family: "Arimo";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.div2 {
  width: 370px;
  height: 298px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
  gap: 20px;
}
.text1 {
  width: 370px;
  height: 59px;
  flex-shrink: 0;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  padding: 21px 19px;
  outline: none;
}
.button {
  width: 370px;
  height: 59px;
  flex-shrink: 0;
  background: #5968f4;
  color: #fbfbff;
  font-family: "Arimo";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.sect2 {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}
.icon {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background-color: #5968f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope {
  font-size: 35px;
}
.card1 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card2 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card3 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
h1 {
  color: #4e4d54;
  font-family: "Arimo";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}
a {
  color: #99999a;
  font-family: "Arimo";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fa-phone {
  font-size: 35px;
}
.fa-location-dot {
  font-size: 35px;
}
.sect3 {
  display: flex;
  justify-content: space-around;
  margin-top: 53px;
}
footer {
  background-color: #000;
  width: 100%;
  height: 372px;
  margin-top: 39px;
}
h6 {
  color: #fff;
  font-family: "Arimo";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}
.p1 {
  color: #99999a;
  font-family: "Arimo";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 295px;
  height: 80px;
  margin-bottom: 27px;
}
h3 {
  color: #fff;
  font-family: "Arimo";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 23px;
}
li {
  color: #5863e3;
  font-family: "Arimo";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.li1 {
  color: #fff;
  font-family: "Arimo";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 19px;
}
.sect4 {
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  align-items: center;
}
h4 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 548px;
  height: 112px;
}
